:root{

    --color1: #FF6A2B;
    --color2: #383838;
    --color: #ffffff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #eeeeee;
    font-family: sans-serif;
    padding: 2em 0;
}
main{
    max-width: 600px;
    background-color: rgb(247, 247, 247);
    color: rgb(19, 19, 19);
    border-top: 5px solid var(--color1);
    margin: 0 auto;
}

header{
    padding: 1em 1em 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header img{
    width: 50px;
    margin: 15px 0;
}
header .headline{
    font-size: 25px;
    color: var(--color2);
}
.nav-links{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.nav-links a{
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
    padding: 2px;    
    margin:5px 10px ;
    border-bottom: 1px solid var(--color2);
    color: var(--color2);
}
.section-1{
    width: 100%;
    margin: 1em 0 1em 0;
    padding: 0 1em;
}
.section-1 > p{
   color: var(--color1);
   text-align: center;
   margin-bottom: 30px;
   font-weight: bold;
  font-size: 15px;

}
.section-1 > p span{
  font-size: 20px;
  color: #df3421;
}
.section-1 .article{        
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px;
    /* padding: 5px; */
    /* height: 150px; */
}
.section-1 .article a{
    width: 45%;
}
.section-1 .article a div{
    padding: 5px;
    background-color: var(--color);
    width: 100%;
    position: relative;
}
.section-1 .article a div img{
    width: 100%;
    border-radius: 10px;
}

/* stylings of the initial structure */

/* .section-1 .article ul {
        width: 20%;
    text-align: center;
}
.section-1 .article ul li {
   list-style-type: none;
   color: var(--color2);
   margin: 1em 0;
}
.section-1 .article .part-2{
   background-color: rgb(255, 255, 255);
   padding: 1em;
   width: 35%;
    text-align: center;
    border-radius: 10px;
}

.section-1 .article .part-2 h2{
    font-size: 15px;
   color: var(--color1);
   padding: 0.5em 0;
}
.section-1 .article .part-2 p{
    margin: 0.8em 0;
    font-size: 13px;
}
.section-1 .article .part-2 button{
    margin: 0.5em 1em;
    padding: 0.5em 0.7em;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    color: var(--color);
    background-color: var(--color1);

}
.section-1 .article .part-3{
    width: 35%;
    padding: 0.5em 0.3em;
    background-color: var(--color);
}
.section-1 .article .part-3 img{
    display: block;
    border-radius: 10px;
    width: 95%;
    margin: auto;
} */




.section-2{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px
}
.section-2 a{
    width: 35%;
    background-color: var(--color);
    margin: 10px;
    text-decoration: none;

}
.section-2 a .container{
    width: 100%;
    position: relative;
    padding: 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color2);
    
}
.section-2 .container img{
   width: 100%;
   padding-bottom: 50px;
   border-bottom: 2px solid var(--color1);    
}
#category{
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
    color: var(--color2);
}
#desc{    
    font-size: 13px;
    text-align: center;
    margin-bottom: 15px;
    
}
.section-2 .container div{
    width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
 }
.section-2 .container div b{   
   color: var(--color2);  
   font-weight: 700;
  font-size: 15px;
 }
.section-2 .container div #discount{   
    padding: 8px;
    background-color: #ffece3;
    color: #d86533;  
   font-weight: 700;
  font-size: 15px;

 }
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

footer a{
    margin: 20px;
    width: 45%;
}
footer a img{
    width: 100%;
    border-radius: 10px;
}


 @media screen and (max-width: 600px){
    .section-2{
        padding: 0px
    }
     .section-2 a{   
    margin: 8px;    
    }
    .section-2 .container img{
        padding-bottom: 30px;          
     }
     #category{
         font-size: 14px;
     }
     #desc{
        font-size: 12px;       
    }
    .section-2 .container div b{   
       font-size: 12px;
      }
     .section-2 .container div #discount{   
       font-size: 12px;
    padding: 3px;
      }
      footer{        
        padding: 0 10px;
    }
    footer img{
        margin: 10px;
    }
 }