<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
      name="viewport"
    />
    <meta name="viewport" content="width=device-width" />

    <!-- Favicon and title -->
    <link rel="icon" href="path/to/fav.png" />
    <title>Starter template - Halfmoon</title>

    <!-- Halfmoon CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css"
      rel="stylesheet"
    />
    <!--
    Or,
    Use the following (no variables, supports IE11):
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon.min.css" rel="stylesheet" />
    Learn more: https://www.gethalfmoon.com/docs/customize/#notes-on-browser-compatibility
  --></head>
  <body
    class="with-custom-webkit-scrollbars with-custom-css-scrollbars"
    data-dm-shortcut-enabled="true"
    data-set-preferred-mode-onloa="true"
  >
    <!-- Modals go here -->
    <!-- Reference: https://www.gethalfmoon.com/docs/modal -->

    <!-- Page wrapper start -->
    <div class="page-wrapper with-navbar">
      <!-- Sticky alerts (toasts), empty container -->
      <!-- Reference: https://www.gethalfmoon.com/docs/sticky-alerts-toasts -->
      <div class="sticky-alerts"></div>

      <!-- Navbar start -->
      <nav class="navbar">
        <!-- Reference: https://www.gethalfmoon.com/docs/navbar -->

        <!-- Navbar content (with toggle sidebar button) -->
        <div class="navbar-content"></div>
        <!-- Navbar brand -->
        <a href="https://etonng.com" class="navbar-brand">
          <img
            src="https://etonng.com/wp-content/uploads/2021/07/cropped-Eton-New-Brand-Identity.jpg"
            alt="ETONNG"
          />
          ETONNG
        </a>
        <!-- Navbar text -->
        <span class="navbar-text text-monospace">v1.0</span>
        <!-- text-monospace = font-family shifted to monospace -->
        <!-- Navbar nav -->
        <ul class="navbar-nav d-none d-md-flex">
          <!-- d-none = display: none, d-md-flex = display: flex on medium screens and up (width > 768px) -->
          <li class="nav-item active">
            <a class="nav-link">Send Email Marketing </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link">Blasts to Customers</a>
          </li>
        </ul>
      </nav>
      <!-- Navbar end -->

      <!-- Sidebar start -->
      <!-- <div class="sidebar"> -->
      <!-- Reference: https://www.gethalfmoon.com/docs/sidebar -->
      <!-- </div> -->
      <!-- Sidebar end -->

      <!-- First comes the modal -->
      <div
        class="modal"
        id="modal-2"
        tabindex="-1"
        role="dialog"
        data-overlay-dismissal-disabled="true"
        data-esc-dismissal-disabled="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <a href="#" class="btn close" role="button" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </a>
            <h5 class="modal-title">Blast Emails to Customers</h5>
            <form enctype="multipart/form-data" action="/upload" method="POST">
              <!-- First row -->
              <div class="form-row row-eq-spacing-sm">
                <div class="col-sm">
                  <label for="last-name">Please Upload the Excel File</label>
                  <div class="custom-file">
                    <input
                      name="file"
                      type="file"
                      id="picture"
                      required="required"
                    />
                    <label for="picture">Choose file</label>
                  </div>
                </div>
              </div>

              <!-- Submit button container -->
              <div class="text-right">
                <!-- text-right = text-align: right -->
                <input class="btn btn-primary" type="submit" value="SEND" />
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Content wrapper start -->
      <div class="content-wrapper">
        <div
          class="container"
          style="
            display: flex;
            height: calc(100vh - 5rem);
            width: 100vw;
            justify-content: center;
            align-items: center;
          "
        >
          <a href="#modal-2" class="btn btn-primary" role="button"
            >ETONNG EMAILER</a
          >
        </div>

        <!--
        Add your page's main content here
        Examples:
        1. https://www.gethalfmoon.com/docs/content-and-cards/#building-a-page
        2. https://www.gethalfmoon.com/docs/grid-system/#building-a-dashboard
      --></div>
      <!-- Content wrapper end -->
    </div>
    <!-- Page wrapper end -->

    <!-- Halfmoon JS -->
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>

    <script>
      var params = new URLSearchParams(window.location.search);

      if (params.get('message')) {
        halfmoon.initStickyAlert({
          content: params.get('message'),
          alertType: params.get('class'),
          fillType: 'filled-lm',
        });
      }
    </script>
  </body>
</html>
